/** Add css rules here for your application. */
/* #content { */
/*   padding-top: 60px; */
/* } */

section {
    padding-top: 60px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.footer {
margin-top: 45px;
padding: 35px 0 36px;
border-top: 1px solid #E5E5E5;
}


/** DragAndDropCellList - begin */

.transactionPager {
        border: 1px solid #CCCCCC;
        height: 80%;
        text-align: left;
		width: 105%
}

.transactionsPagerContainer {
	height: 100%;
}

.purseContainer {
        float:left;
        margin: 30px;
}

.purseWrapper {
	width: 120px;
    height: 120px;
}

.purse {
    width:100px;
    height:100px;
    margin: 10px;
    background-image:url(images/blue-small-circle.gif);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    z-index:990;
}

.purseOuter {
	width: 120px;
    height: 120px;
    position: absolute;
    z-index:800;
    background-image:url(images/blue-big-circle.gif);
}

/*
.purseOuter.hover {
    background-image:url(images/blue-big-circle.gif);
}*/

.purseLabel {
	display: inline-block;
	width:80px;
	height:40px;
	overflow: hidden;
	hyphens:auto;
	word-wrap:break-word;
	color:white;
	font-size: 14px;
	padding-top:20px;
}

.purseAmountLabel {
	display: inline-block;
	font-size: 14px;

    /* remove font-size from bootstrap ".label, .badge" - begin */
    border-radius: 9px 9px 9px 9px;
    padding: 1px 9px 2px;

    background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    /* remove font-size from bootstrap ".label, .badge" - end */
}

.gwt-Label{
margin-left: 10px;
margin-top: 10px;
font-size: 14px;
font-weight: bold;
}

.yellow-border div.pager {
    border: 1px solid #FFE45C;
}

.orange-border div.pager {
        border: 1px solid #F6A828;
    background-color:#C1DEFD;
}
/** DragAndDropCellList - end */
